body, 
html {
  margin: 0;
  padding: 0;
  background: black;
}

#home {
  position: relative;
}

#about, 
#services, 
#contact {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  /* margin: 3px; */
  padding: 0;
}

#know-me-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  /* font-size: 95px; */
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vh;
}

p, 
a, 
li {
  font-size: 2vmin;
  line-height: 36px;
}

.card-img-top {
  display: flex;
}

.navbar {
  /* text-align: justify; */
  /* text-decoration: none; */
  color: black;
}

#logo {
  color: rgb(0, 0, 114);
  font-family: 'Monoton', cursive;
  font-size: 3.0vh;
}